extend ../layout

block content
  div.container
    div.row
      div.col-md-12
        br
        a.btn.btn-info.btn-md.mb-4(href='/') Home
        br
        h1.text-center.mb-4 Bicicletas Disponibles
        a.btn.btn-success.btn-md.mb-4(href='/bicicletas/create') Nueva Bicicleta
        table.table.table-hover
          thead
            tr
              th(scope='col', class='text') #ID
              th(scope='col', class='text') Color
              th(scope='col', class='text') Modelo
              th(scope='col', class='text') Ubicación
              th(scope='col', class='text') Acciones
          tbody
            each bici in bicycles
              tr
                td(scope='row')=bici.id
                td=bici.color
                td=bici.modelo
                td=bici.latitud + ", " + bici.longitud
                td
                  a.btn.btn-primary.btn-sm.mr-2(href='/bicicletas/'+bici.id+'/show') Mostrar
                td
                  a.btn.btn-info.btn-sm.mr-2(href='/bicicletas/'+bici.id+'/update') Editar
                td
                  form.inline(method='post' action='/bicicletas/'+bici.id+'/delete')
                    input(type='hidden' name='id' value=bici.id)
                    button.btn.btn-danger.btn-sm(type='submit' name='submit_param' value='submit_value') Eliminar
                td
                  if bici.alquilada === null
                    form.inline(method='post' action='/bicicletas/'+bici.id+'/alquilar')
                      input(type='hidden' name='id' value=bici.id)
                      input(type='hidden' name='alquilada' value=iduser)
                      button.btn.btn-success.btn-sm(type='submit' name='submit_param' value='submit_value') Alquilar
                  else
                    p.mb-0 Alquilada
                    small.text-muted Por usuario #{bici.alquilada}

